* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

::selection {
    background: transparent;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: black;
}

button {
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    background: #313131;
    color: white;
    transition: .5s;
}

button:hover {
    background: wheat;
    color: #009600;
} button:hover span {
    text-shadow: 0 0 5px #a6ff00;
}

button span {
    text-shadow: 0 0 5px wheat;
    transition: .3s;
}

h1 {
    color: white;
    cursor: default;
    width: 100%;
    text-align: center;
    padding: 20px;
}

h1:hover ~ section {
    height: 100vh;
}

h1:hover ~ section ~ main {opacity:0}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    gap: 5px;
    transition: .5s;
}

section:hover {
    height: 100vh;
}

section:hover ~ main {opacity:0}

label {
    color: white;
    margin-right: 5px;
    font-size: 1.3rem;
}

[type="range"] {
    display: block;
    width: 30%;
    cursor: pointer;
    accent-color: #525252;
    outline: none;
    min-width: 300px;
}

.options {
    margin: auto;
    width: 60%;
    border-radius: 20px;
    border: 2px #535353 solid;
    color: white;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    min-width: 500px;
}

.option {
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    transition: .3s;
}

.option.active, .option:hover {
    background: #313131;
}

main {
    margin-top: 10vh;
    width: 100%;
    height: 55vh;
    display: flex;
    position: relative;
    cursor: pointer;
    transition: .3s;
}

.key {
    background: #131313;
    border: 2px #525252 solid;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .3s;
}

main div {
    flex-grow: 1;
    flex-shrink: 1;
    background: #dbdbdb !important;
    color: #535353;
    padding: 10px;
}

main span {
    position: absolute;
    height: 60%;
    width: 5%;
    color: #b8b8b8;
}

.Kw {left:5%}.Ke{left:12%}.Kt{left:26.5%}.Ky{left:34%}.Ku{left:41%}.Ko{left:55.4%}.Kp{left:62.4%}.Kpp{left:69%}.Kppp{left:83%}.Kpppp{left:90.3%}

main div.active {
    transition: .3s;
    background: #313131 !important;
    border: 2px white solid;
    color: white;
    box-shadow: 0 0 10px white inset;
}

main span.active {
    transition: .3s;
    background: #535353;
    border: 2px white solid;
    color: #131313;
    box-shadow: 0 0 10px #131313 inset;
}

